
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 400px;
    border: 3px solid black;
    border-radius: 4px;
    background-color: #607D8B;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fields{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.count-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 1px;
    background-color: #E91E63;
}

button {
    background-color: #03A9F4;
    border: 1px solid black;
    border-radius: 2px;
    width: 100px;
    height: 40px;
}

.count-field-minutes {
    color: white;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid green;
    width: 50%;
}

.count-field-seconds {
    color: white;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    width: 50%;
    border: 1px solid green;
}
#setTime {
    width: 230px;
    height: 23px;
    border: 2px solid black;
    border-radius: 2px;
}