body {
  background-image: url(back.jpg);
  background-repeat: repeat;
  width: 100%;
}
.form {
  padding-top: 20px;
  text-transform: uppercase;
  box-shadow: 0 0 40px rgba(0,0,0,0.8);
  width: 400px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px
  border: none;
  background-color: palegreen;
}
.text {
  text-align: center;
}
.two-forms {
  display: flex;
  justify-content: space-around;
}

#inputMin,#inputMax {
  width: 180px;
  height: 35px;
}

#output {
  font-weight: bold;
  font-size: 25px;
  width: 70px;
  height: 70px;
  margin-left: 166px;
  border-radius: 50px;
}
.inputs {
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #FFB6C1;
  text-align: center;
}
.btn {
  border: none;
  border-radius:3px;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: 151px;
  background-color: cornflowerblue;
  text-align: center;
  text-transform: uppercase;
}
.btn:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: royalblue;
}
