@import "../../helpers/stylesModules/colors.less";
@import "../../helpers/stylesModules/sizes.less";
@import "../../helpers/stylesModules/properties.less";

body {
    margin: 0;
}

.header {
    background-color: @mainBgColor;
    padding-top: 15px;
    height: 20%;
}

.main {
    display: @displayFlex;
    width: @mainWidth;
    flex-wrap: wrap;
}

.main-input {
    display: @displayFlex;
    justify-content: @justifyContentBetween;
    width: @mainWidth;

}

.main-input__item {
 background-color: @inputBgColor;
 color: @inputTextColor;
 padding-left: 8px;
 border: 2px solid #212121;
 border-radius: 4px;
 width: 190px;
 height: 40px;
}

.main-select__item {
 margin-top: 8px;
 background-color: @inputBgColor;
 color: @inputTextColor;
 padding-left: 8px;
 border: 2px solid #212121;
 border-radius: 4px;
 width: 80px;
 height: 40px;
}

.main-select {
    display: @displayFlex;
    justify-content: @justifyContentBetween;
    width: @mainWidth;
    justify-content: start;
}

.main-select {
    display: @displayFlex;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 30px;
    top: 8px;
    width: 300px;
    height: 200px;
    background: @modalBgColor;
    border-radius: 3px;
}
.modal__wind{
    display:  @displayFlex;
    align-items: @alignItemsCenter;
    width: 300px;
    height: 200px;
    border-radius: 3px;
}

.Modal-select {
     background-color: @inputBgColor;
     color: @inputTextColor;
     padding-left: 8px;
     border: 2px solid #212121;
     border-radius: 4px;
     width: 90px;
     height: 40px;
     align-items: @alignItemsCenter;

}

#wrapper {
    display: @displayFlex;
    flex-wrap: wrap;
    align-items: @alignItemsCenter;
    justify-content: @justifyContentCenter;
    background-color: @mainBgColor;
    height: 80%;
}
.arab_language {
    direction: rtl;
}

.settings-btn {
    background-color: white;
    width: @btnWidth;
    height: @btnHeight;
    background-color: @btnBgColor;
    margin-right: 30px;
    margin-left: 1120;
    border-radius: 5px;
    border: 2px solid #212121;
    display: block;
    text-align: center;
    color: @btnColor;
}
.settings-btn:hover {
   background-color: @btnHover;
}
.settings-btn:active {
   background-color: @btnActive;
}

.calculate-btn {
    width: @btnWidth;
    height: @btnHeight;
    background-color: @btnBgColor;
    margin-top: 8px;
    border-radius: 5px;
    border: 2px solid #212121;
    color: @btnColor;
}

.calculate-btn:hover {
    background-color: @btnHover;
}
.calculate-btn:active {
    background-color: @btnActive;
}

a {
    text-decoration: none;
}

.btn-settings-text {
    margin-top: 9px;
}




//experiment with span
.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;

}

.modal-close:before,
.modal-close:after {
    content: "";
    position: absolute;
    top: 12px;
    left: -19px;
    width: 15px;
    height: 2px;
    background: #292929;
}

.modal-close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.main-select__item option:checked {
 	display: none;
 }

.Modal-select option:checked {
    display: none;
 }
