 body {
  width: 100%;
  background-color: black;
  font-family: "Times New Roman", Times, serif;;
}
.wrapper {
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: space-around;
  background-color: cornflowerblue;
  border-radius: 6px;
}

.wrapper__blocks {

  margin-top: 106px;
  width: 33%;
}

.blocks__cont-form {
  margin-top: 16px;
  margin-left: 36px;
}
.blocks__cont-form2 {
  margin-top: 10px;
}

.inputs {
  width: 115px;
  height: 25px;
  color: white;
  background-color: black;
  margin: 10px;
  margin-top: 0;
  margin-left: 0;
  border: none;
  border-radius: 4px;
}

.inputs-select {
  width: 94px;
  height: 42px;
  font-style: oblique;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
  margin-left: 35px;
  margin-top: 15px;
}


.btn {
  width: 76px;
  height: 30px;
  color: white;
  background-color: black;
  margin-left: 45px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 53px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}






.inputs-select option:checked {
 	display: none;
 }
